#game-container{
  position: relative;
  overflow:hidden;
  transform-origin: top left;
  border: 7px double #4d7756;
  border-radius: 15px;
}



body{
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  text-align: center;
  overflow:hidden;
}

#player{
  position: absolute;
  width: 100px;
  height: 137px;
  left: 250px;
  top: 726px;
  animation-fill-mode: forwards;
  z-index: 100;
}


@keyframes player_idle {
  100% { background-position: -3510px}
}
@keyframes player_run {
  100% { background-position: -2718px }
}
@keyframes player_jump_start {
  100% { background-position: -1584px; }
}
@keyframes player_jump_end {
  100% { background-position: -880px;  }
}
@keyframes player_attack {
  100% { background-position: -7296px}
}

@keyframes enemy_0_idle {
  100% { background-position: -2691px}
}
@keyframes enemy_0_run {
  100% { background-position: -2227px}
}
@keyframes enemy_0_attack {
  100% { background-position: -4935px }
}


@keyframes text_feedback {
  0% {margin-top: 0px; opacity: 1}
  100% { margin-top: -100px; opacity: 0}
}

.text-feedback{
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  animation: text_feedback 1.2s 1;
}

.health-bar-container{
    width: 475px;
  	height: 52px;
  	position: relative;
  	background: url("../images/health_empty.png");
    background-size: cover;

}
.health-bar-container > span {
  display: block;
  height: 100%;
  background: url("../images/health_full.png");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.enemy{
  position: absolute;
  width: 150px;
  margin-left: 60px;
  height: 127px;
}
.healthUp , .damageUp, .scoreUp{
  width: 70px;
  height: 70px;
  position: absolute;
}
.healthUp{
  background: url("../images/consumables/hp_flask.png");
}
.damageUp{
  background: url("../images/consumables/damage.png");
}
.scoreUp{
  background: url("../images/consumables/score.png");
}

.floor{
  position: absolute;
  top: 80%;
  width: 1920px;
  left: 0;
  height: 420px;
  background: url("../images/floor_segment.png");
  margin-top: -120px;
  z-index: -100;
}

.platform{
  position: absolute;
  width: 0px;
  height: 40px;
  background: url("../images/platform.png") round 0 0;
}
.score-container{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  width: 500px;
  text-align: right;
  height: 35px;
  padding: 10px 10px;
}

h1, .controls-title, h3, .score-container, h2{
  text-shadow: 2px 2px 7px black;
}
