body{
  background: url("../images/background.png");
  background-size:cover;
}

#player{
  position: absolute;
  left: 0px;
  top: 100px;
  animation-fill-mode: forwards;
}

@keyframes player_idle {
  100% { background-position: -3510px}
}
@keyframes player_run {
  100% { background-position: -2718px }
}
#floor{
  position: absolute;
  top: 80%;
  width: 100%;
  left: 0;
  height: 20px;
  background-color: grey;
}
#cube{
  position: absolute;
  width: 50px;
  top: 450px;
  left:1200px;
  height: 100px;
  background-color: red;
}
