#game-container{
  height: 1080px;
  width: 1920px;
  position: relative;
  overflow:hidden;
  transform-origin: top left;
  border: 7px double #4d7756;
  border-radius: 15px;
}

body{
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  text-align: center;
  overflow:hidden;
}

#player{
  position: absolute;
  width: 135px;
  height: 137px;
  left: 250px;
  top: 400px;
  animation-fill-mode: forwards;
}


@keyframes player_idle {
  100% { background-position: -3510px}
}
@keyframes player_run {
  100% { background-position: -2718px }
}
@keyframes player_jump_start {
  100% { background-position: -1584px; }
}
@keyframes player_jump_end {
  100% { background-position: -880px;  }
}
@keyframes player_attack {
  100% { background-position: -7296px}
}

@keyframes enemy_0_idle {
  100% { background-position: -2691px}
}
@keyframes enemy_0_run {
  100% { background-position: -2227px}
}
@keyframes enemy_0_attack {

  100% { background-position: -4935px }
}


.enemy{
  position: absolute;
  top: 80px;
  left: 1000px;
  width: 117px;
  height: 127px;
  /*background: url("../images/animations/enemy_0_run.png");
  animation: enemy_0_run 0.9s steps(17) infinite;*/
}


.floor{
  position: absolute;
  top: 80%;
  width: 800px;
  left: 0;
  height: 420px;
  background: url("../images/floor_segment.png");
  margin-top: -120px;
  z-index: -100;
}
#cube{
  position: absolute;
  width: 50px;
  top: 0px;
  left:1200px;
  height: 100px;
  background-color: red;
}
#cube2{
  position: absolute;
  width: 50px;
  top: 0px;
  left:-100%;
  height: 100px;
  background-color: blue;
}
#cube3{
  position: absolute;
  width: 50px;
  top: 0px;
  left:300px;
  height: 100px;
  background-color: blue;
}
