.layer-0, .layer-front, .layer-1, .layer-2, .layer-3, .layer-4{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.layer-front {
  background:url('../images/parallax/layer_front.png') repeat-x;
  animation: moving-images 6000s linear infinite;
  z-index: 1000;
}

.layer-0 {
  background:url('../images/parallax/layer_0.png');
  animation: moving-images 100000s linear infinite;
  z-index: -1000;
}
.layer-1 {
  background:url('../images/parallax/layer_1.png') repeat-x;
  animation: moving-images 6000s linear infinite;
  z-index: -800;
}
.layer-2 {
  background:url('../images/parallax/layer_2.png') repeat-x;
  animation: moving-images 8000s linear infinite;
  z-index: -900;
}
.layer-3 {
  background:url('../images/parallax/layer_3.png') repeat-x;
  animation: moving-images  10000s linear infinite;
  z-index: -950;
}
.layer-4 {
  background:url('../images/parallax/layer_4.png') repeat-x;
  animation: moving-images 13000s linear infinite;
  z-index: -980;
}

@keyframes moving-images {
  0%  {left:0px;}
  /*100%   {left:-999999px;}*/
}
