#loader {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 5000;
  background-color: black;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading{
  background-color: red;
  display: none;
}
.loading-icon{
  margin: auto;
  margin-top: 22%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin .7s linear infinite;
  animation: spin .7s linear infinite;
}
.loaded {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.5s 1s ease-out;
  transition: all 0.5s 1s ease-out;
}
