.fa-twitter, .fa-arrow-circle-right, .fa-arrow-circle-left{
  color: #00a4d3;
}

.fa-heart-o{
  color: red;
}

body{
  background-color: #252830;
  color: #d6d6d6;
}

.btn-search:hover{
  background-color: #00799b;
}

.btn-search{
  background-color: #00a4d3;
  padding-top: 0;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

.titulo{
  padding-top: 8px;
}

.btn-search:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

.input-search:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
  border-color: #00a4d3;
  background-color: #515563;
}
.input-search{
  border-radius: 15px;
  font-size: 15px;
  background-color: #434857;
}

.input-search, .input-search:focus{
  color: #9aa3ad;
}
.home{
  margin-top: 12%;
}
.home-description{
  font-size: 18px;
}

.image-grid{
  margin-bottom: 10px;
}

.images-container{
  margin-top: 20px;
}

.no-width-adjust{
  width: auto;
}

.arrows{
  padding-top: 3%;
  font-size: 80px;
}

/*******************************Navbar***************************/

.navbar-light .navbar-brand{
  color: #d6d6d6;
  font-size: 30px;
  padding-top: 0px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}

.fa-th-list{
  font-size: 35px;
  padding-left: 7px;
}
.fa-th-list:hover, .navbar-light .navbar-brand:hover{
  color: #878787;
}

.linea{
  background-color: #d6d6d6;
  height: 5px;
  border-radius: 5px;
}

/*******************************Layouts***************************/

.grid {
  margin: 0 auto;
}
.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.item__overlay:focus, .item__overlay:hover {
  background-color: rgba(17, 17, 17, 0.45);
}
.grid__sizer{
  width: 0;
}
.grid__item_layout_1, .grid__item_layout_2{
  border: 1px solid #d6d6d6;
}
.grid__item_layout_1 {
  position: relative;
  width: 200px;
  min-width: 16.25rem;
  margin-bottom: .9375rem;
  overflow: hidden;
}

.grid__item_layout_2 {
  position: relative;
  width: 150px;
  min-width: 8.25rem;
  margin-bottom: .3375rem;
  overflow: hidden;
}
.image, .selected-image{
  width: 100%;
  height: auto;
}

.image {
  max-width: 100%;
}
.big-image{
  max-width: 50%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  width: 300px;
  position: absolute;
  background-color: #0F1525;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  padding: 12px 16px;
  margin-top: 7px;
  right: -17px;
  z-index: 1;
}
.list-group-item{
  background-color: #0F1525;
  color: #d6d6d6;
  border: 0;
  font-size: 20px;
}
.list-group-item:hover{
  border-radius: 5px;
}
.like-box{
  position: absolute;
  height: 30px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, .42);
  background-color:rgba(0, 0, 0, .42);
  width: 100%;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}

.big-image-container{
  position: relative;
  border: 1px solid #00a4d3;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-container:hover{
  cursor: pointer;
}

.big-image-container, .grid__item_layout_2, .grid__item_layout_1{
  border-radius: 0.25rem;
}

/** Animaciones/transiciones **/

.big-image-container, .big-image{
  transition: background-image .5s linear,
              width .5s linear,
              height .5s linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.loading-icon{
  margin: auto;
  margin-top: 10%;
  border: 15px solid #f3f3f3;
  border-top: 15px solid #555;
  border-radius: 50%;
  width: 0;
  height: 0;
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
  transition: width .5s, height .5s;
  visibility: hidden;
}
.fade-loading{
  visibility: visible;
  width: 100px;
  height: 100px;
}
.small-loading-icon{
  visibility: visible;
  margin: auto;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #555;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}