.fa-twitter{
  color: #00a4d3;
}

.likes{
  font-size: 20px;
}

.fa-heart-o{
  color: red;
}

body{
  background-color: #252830;
  color: #d6d6d6;
}

.btn-search:hover{
  background-color: #00799b;
}

.btn-search{
  background-color: #00a4d3;
  padding-top: 0;
  border: none;
  border-radius: 15px;
  font-size: 15px;

}

.btn-search:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

.input-search:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
  border-color: #00a4d3;
  background-color: #515563;
}
.input-search{
  border-radius: 15px;
  font-size: 15px;
  background-color: #434857;
}

.input-search, .input-search:focus{
  color: #9aa3ad;
}
.home{
  margin-top: 12%;
}
.home-description{
  font-size: 18px;
}
.images{
  width: 100%;
  height: 300px;
}

.img-container{
  background-color: rgba(180, 180, 180, 0.21);
  width: 100%;
  height: auto;
  padding: 7px;
  padding-bottom: 0px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}

.titulo{
  padding-top: 8px;
}

/*******************************Navbar***************************/

.navbar-light .navbar-brand{
  color: #d6d6d6;
  font-size: 30px;
  padding-top: 0px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}

.fa-th-list{
  font-size: 35px;
  padding-left: 7px;
}

.linea{
  background-color: #d6d6d6;
  height: 5px;
}
