.fa-twitter, .fa-arrow-circle-right, .fa-arrow-circle-left{
  color: #00a4d3;
}

.likes{
  font-size: 20px;
}

.fa-heart-o{
  color: red;
}

body{
  background-color: #252830;
  color: #d6d6d6;
}

.btn-search:hover{
  background-color: #00799b;
}

.btn-search{
  background-color: #00a4d3;
  padding-top: 0;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}

.titulo{
  padding-top: 8px;
}

.btn-search:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

.input-search:focus{
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
  border-color: #00a4d3;
  background-color: #515563;
}
.input-search{
  border-radius: 15px;
  font-size: 15px;
  background-color: #434857;
}

.input-search, .input-search:focus{
  color: #9aa3ad;
}
.home{
  margin-top: 12%;
}
.home-description{
  font-size: 18px;
}

.image-grid{
  margin-bottom: 10px;
}

.images-container{
  margin-top: 20px;
}

.no-width-adjust{
  width: auto;
}

.arrows{
  padding-top: 3%;
  font-size: 80px;
}

/*******************************Navbar***************************/

.navbar-light .navbar-brand{
  color: #d6d6d6;
  font-size: 30px;
  padding-top: 0px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
}

.fa-th-list{
  font-size: 35px;
  padding-left: 7px;
}

.linea{
  background-color: #d6d6d6;
  height: 5px;
  border-radius: 5px;
}
.image-row{
  margin: 0 25px 0 25px;
}

.grid {
  margin: 0 auto;
}
.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.item__overlay:focus, .item__overlay:hover {
  background-color: rgba(17, 17, 17, 0.45);
}
.grid__sizer{
  width: 500px;
}
.grid__item_layout_1, .grid__item_layout_2{
  border: 1px solid #d6d6d6;
}
.grid__item_layout_1 {
  position: relative;
  width: 200px;
  min-width: 16.25rem;
  margin-bottom: .9375rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.grid__item_layout_2 {
  position: relative;
  width: 150px;
  min-width: 8.25rem;
  margin-bottom: .3375rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.big-image{
  width: auto;
}
.layout-2-container{
  background-color: rgba(180, 180, 180, 0.21);
  border-radius: 5px;
  padding: 10px;
}
.dropdown {
  position: relative;
}

.dropdown-content {
  width: 300px;
  position: absolute;
  background-color: #0F1525;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  padding: 12px 16px;
  margin-top: 7px;
  right: -17px;
  z-index: 1;
}
.list-group-item{
  background-color: #0F1525;
  color: #d6d6d6;
  border: 0;
  font-size: 20px;
}
.list-group-item:hover{
  border-radius: 5px;
}