body{
  background-color: #333333;
  color: white;
  margin-top: 3%;
}
.card{
  background-color: #505050;
}
.img-thumbnail{
  background-color: grey;
  border-color: grey;
}
.btn{
   white-space: normal;
}
.color-filter{
  margin-top: 4px;
}
.level-filter-container{
  padding: 1px 20px 10px 20px;
  background-color: #464646;
}
#slider .ui-slider-handle {
      border-radius: 50%;
      border: none;
      background-color: #17a2b8;
}

.loading{
  background-repeat: no-repeat;
  width: 25px;
  height: 26px;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url("../icons/glyphicons-82-refresh.png");
  animation-name: spin;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.hidden{
  display: none;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
