body{
  background: grey; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(grey, black 80%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(grey, black 80%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(grey, black 80%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(grey, black 80%); /* Standard syntax */
  background-repeat:no-repeat;
  color: white;
  margin-top: 1%;
}

html {
    min-height: 100%
}

.card{
  background-color: #505050;
}
.img-thumbnail{
  background-color: grey;
  border-color: grey;
}
.btn{
   white-space: normal;
}
.color-filter{
  margin-top: 4px;

}
.level-filter-container{
  padding: 1px 20px 20px 20px;
  background-color: #464646;
}
#slider .ui-slider-handle {
      border-radius: 50%;
      border: none;
      background-color: rgb(40,167,69);
}

.loading{
  background-repeat: no-repeat;
  width: 25px;
  height: 26px;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-image: url("../icons/glyphicons-82-refresh.png");
  animation-name: spin;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.hidden{
  display: none;
}

.home-container{
  margin-top: 13%;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.filter-container{
  padding: 5px 5px 0 5px;
}

.canvas-background, .canvas-text{
    position: absolute;
    width: 100%;
}

.canvas-background{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.5);

}

.filter-tab{
  margin-bottom: 5px;
}

.canvas-text{
  font-weight: bold;
  font-style: italic;
  top: 50%;
}
#sliderContainer{
    margin-bottom: 1.5%;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
