body{
  background-image: url("../images/background.jpg");
  background-size:cover;
}
.card{
  margin-top: 5px;
  background-color: rgba(99, 99, 99, 0.5) !important;
  color: white;
}
.card-body{
  padding: 5px ;

}
.bg-light {
    background-color: #3f8fe0 !important;
}
.navbar-light .navbar-brand {
    color: #ffffff;
}
.navbar-light .navbar-brand:hover {
    color: #ffffff;
}
.col-md-3, .col-md-9{
  padding: 5px;
}
.card-header{
  background-color: rgba(133, 85, 0, 0.6);
  font-weight: bold;
}

.list-group-item{
  background-color: rgba(153, 102, 0, 0.5);
}
.bg-light {
  background-color: rgba(99, 99, 99, 0.5) !important;
}
